<title>Node Authentication</title>
<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.min.css">
<style>
    .container {
        margin-top: 30px;
    }
</style>