<!doctype html>
<html>
<head>
  <%- include('templates/head'); %>
</head>
<body>
<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-sign-in"></span> Signup</h1>
    <form action="/signup/local" method="post">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password">
      </div>
      <button type="submit" class="btn btn-warning btn-lg">Signup</button>
      <div class="text-danger" style="display: inline-block; margin-left: 20px;"><%= message %></div>
    </form>
    <hr>
    <p>Already have an account? <a href="/login">Login</a></p>

    <p>Or go <a href="/">home</a>.</p>

    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
  </div>

</div>
<%- include('templates/script'); %>
</body>
</html>